body {
	background-color: #2E3537;
}

:root {
	--cards: 5;
	--cardHeight: 64vh;
	--cardTopPadding: 1.5em;
	--cardMargin: 4vw;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#cards {
	list-style: none;
	padding-left: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--cards), var(--cardHeight));
	gap: var(--cardMargin);
	/*padding-bottom: calc(var(--cards) * var(--cardTopPadding));*/
	margin-bottom: var(--cardMargin);
}

#card1 {
	--index: 1;
}
#card2 {
	--index: 1;
}
#card3 {
	--index: 1;
}
#card4 {
	--index: 1;
}
#card5 {
	--index: 1;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--cardTopPadding));
	background-color: black;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 10px;
    max-width: 600px;
}
/*
#card1 .card-body {
	background-color: #52B2CF;
}
#card2 .card-body {
	background-color: #7EC4CF; 
	background-color: #E5A36F;
}
#card3 .card-body {
	background-color: #9CADCE;
}
#card4 .card-body {
	background-color: #D4AFB9;
}
#card5 .card-body {
	background-color: #be0e3d;
}
*/
.card-body {
	box-sizing: border-box;
	padding: 40px;
	border-radius: 50px;
	height: var(--cardHeight);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all 0.5s;
}

.card img{
    width: 300px;
    height: 300px;
}

.card h2{
	margin: 0;
    padding: 5px;
    font-size: 24px;
    color: #3498db;
}

h2 {
	font-size: 2.5em;
}

.card a {
    color: white;
    font-size: 16px;
}

.learnMoreButton {
	display: block; /* Rende il link un blocco */
	margin-top: 10px; /* Aggiunge uno spazio tra il div e il link */
}

