html{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.form_modifica {
max-width: 600px;
margin: 0 auto;
padding: 20px;
/*background-color: white;
opacity: 0.5
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);*/
}

h1 {
text-align: center;
color: azure;
}

.edit-form {
display: flex;
flex-direction: column;
}

label {
margin-top: 10px;
color: azure;
}

input {
padding: 10px;
margin-top: 5px;
border: 1px solid #ccc;
border-radius: 5px;
}

button {
margin-top: 20px;
padding: 10px 20px;
background-color: #3498db;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

.link-button {
display: inline-block;
padding: 10px 20px;
margin-top: 30px;

color: white;
text-align: center;
text-decoration: none;
border: none;
border-radius: 5px;
cursor: pointer;
}

#modifica{
/*background-color: #27c010;*/
position: relative;
background: #27c010;
color: #27c010;
text-decoration: none;
text-transform: capitalize;
letter-spacing: 0.1em;
font-weight: 400;
padding: 10px 30px;
transition: 0.5s;
border: none;
}

#modifica:hover {
background: #27c010;
color: #27c010;
letter-spacing: 0.25em;
box-shadow: 0 0 35px #27c010;
}

#modifica::before {
content: '';
inset: 2px;
position: absolute;
background: #27282c;
}

#modifica span {
position: relative;
}

#annulla{
/* background-color: #d71b1b;*/
position: relative;
background: #d71b1b;
color: #d71b1b;
text-decoration: none;
text-transform: capitalize;
letter-spacing: 0.1em;
font-weight: 400;
padding: 10px 30px;
transition: 0.5s;
border: none;
}

#annulla:hover {
background: #d71b1b;
color: #d71b1b;
letter-spacing: 0.25em;
box-shadow: 0 0 35px #d71b1b;
}

#annulla::before {
content: '';
inset: 2px;
position: absolute;
background: #27282c;
}

#annulla span {
position: relative;
}

#mod{
position: relative;
background: #1e9bff;
color: #1e9bff;
text-decoration: none;
text-transform: capitalize;
letter-spacing: 0.1em;
font-weight: 400;
padding: 10px 30px;
transition: 0.5s;
border: none;
}

#mod:hover {
background: #1e9bff;
color: #1e9bff;
letter-spacing: 0.25em;
box-shadow: 0 0 35px #1e9bff;
}

#mod::before {
content: '';
inset: 2px;
position: absolute;
background: #27282c;
}

#mod span {
position: relative;
}

.lista {
background-color: red;
width: 500px;
color: white;
border-radius: 20px;
}

.autocomplete-items {
padding-left: 15px;
}