

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  }
  
  .form_modifica {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: black;
  }
  
  .edit-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    color: black;
  }
  
  input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  } 