.contenitore {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#character-card {
    background-color: black;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    margin: 10px;
    max-width: 30%;
    max-height: 90%;
}

#character-card img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#character-card h2 {
    margin: 0;
    padding: 5px;
    font-size: 17px;
    color: #3498db;
    font-weight: bold;
}

#character-card a {
    color: white;
    font-size: 12px;
}